{% extends '::base.html.twig' %}
{% block title %}Términos y condiciones{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/css/styleFormSlider.min.css')}}" type="text/css">
    <style>
        body {
            background-color: white;
        }
        #terminos {
            margin-top: 200px;
            padding: 50px;
        }
        #terminos b {
            font-size: 20px;
        }
        #terminos p {
            font-size: 15px;
        }
        #terminos h1 {

        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="¨#">
                    <img src="{{web_image('images/logo-aitv_white.png').resize(120,'')}}" alt="" width="120px">

                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="terminos">

                <h1>Términos y condiciones</h1>

                <hr>

                <p>Esta política de privacidad, que se incorpora por referencia a nuestros términos de servicio, 
                    describe la recopilación y el uso más amplio posible de la información que podemos obtener de 
                    usted ya sea en línea o fuera de línea, en relación con el uso de nuestros servicios:</p>

                <br>
                <hr>

                <b>1-	Recopilación y uso de la información:</b> 

                <p>Al utilizar nuestra plataforma, podemos recopilar cierta información acerca de usted con su 
                    consentimiento previo, como por ejemplo:<br><br>

                    • Información de contacto, su nombre, dirección de correo electrónico, dirección postal y 
                    número de teléfono.<br>

                    • La edad u otras informaciones del perfil como rango de edad, fecha de nacimiento y fotografías 
                    personales.<br>

                    • Podemos recibir y complementar la información que tenemos sobre usted con información de un tercero, 
                    siempre que ese tercero informe que ha recibido su consentimiento para hacerlo. Esta información sirve 
                    para mejorar nuestra base de datos y aplicarla a una oferta según su perfil y así converger sus necesidades 
                    con las nuestras para un bien común.<br>

                    Podemos utilizar esta información para:<br>

                    • Administrar su cuenta.<br>

                    • Enviarle comunicaciones sobre ofertas producciones audiovisuales.<br>

                    • Supervisar y asegurar nuestros sitios y servicios.<br>

                    • Administrar concursos, sorteos y promociones que pueda haber ingresado y enviar notificaciones 
                    relacionadas.<br>

                    • Enviar comunicaciones a sus amigos sobre su petición cuando usted proporciona su información 
                    de contacto.</p>

                <br>
                <hr>

                <b>2- Compartir información y divulgación</b>

                <p>Podemos compartir su información con nuestros afiliados, proveedores de servicios y otras terceras 
                    partes, como se describe a continuación: <br><br>

                    <b>• Afiliados:</b> Podemos compartir información entre nuestros afiliados explícitamente cubiertos por 
                    esta póliza, así como cualquier otra empresa o filial. <br><br>

                    <b>• Proveedores de Servicios:</b> Podemos proporcionar su información a personas o empresas asociadas 
                    para el apoyo de nuestra operación. Estos proveedores de servicios están autorizados a utilizar su información 
                    sólo cuando sea necesario, como por ejemplo: <br>

                    - Ayudarnos con nuestras actividades de negocios, tales como el cumplimiento de sus peticiones, limpieza y 
                    verificación de las transacciones.<br>

                    - Gestión y mejora de los datos del cliente.<br>

                    - Proporcionar servicio al cliente.<br>

                    - La detección de fraude o actividades ilegales.<br>

                    - Realización de la investigación del cliente y encuestas.<br><br>

                    <b>• Terceros con fines de mercadeo:</b> Podemos compartir información agregada o anónima sobre usted con 
                    terceros para fines de mercadeo, publicidad, investigación o similar. Con su consentimiento, podremos 
                    compartir su información con un tercero no relacionado, que puede ponerse en contacto con usted acerca 
                    de productos, servicios u otras ofertas que puedan ser de su interés. Obtendremos su consentimiento en 
                    el lugar donde se recoge la información, ya sea por métodos de "opt-out" (desvinculación) u "opt-in" 
                    (inscripción) o por otros medios (por ejemplo una solicitud por correo electrónico). El uso de tercero 
                    y el tratamiento de su información se regirán por las políticas de privacidad de dicho tercero. En el 
                    caso de que usted tenga una pregunta acerca de la recolección y uso de su información de dicha parte, 
                    usted debe ponerse en contacto con esa persona directamente.<br><br>

                    <b>• Protección Jurídica y Cumplimiento de la Ley:</b> En dado caso podemos divulgar la información en el contexto 
                    de un procedimiento judicial y en relación con las actividades de aplicación de la ley, así como en el caso de venta 
                    de la empresa correspondiente. Por ejemplo, podemos divulgar su información:<br><br>

                    <b>-</b> Conforme a la ley, para cumplir con una orden judicial o un proceso legal similar.<br>

                    <b>-</b> Con las autoridades u organizaciones similares en el marco de una investigación criminal o prevención del 
                    fraude o actividad criminal, violación de derechos de propiedad intelectual u otra actividad que se sospecha que 
                    es ilegal o que pueda exponer a nuestros usuarios o nosotros a la responsabilidad legal.<br>

                    <b>-</b> Utilizar su información y registros para la defensa de una demanda, investigación o acción si tal información, 
                    registros o perfiles son relevantes a la demanda, la protección o la acción. <br>

                    <b>-</b> Cuando creemos de buena fe que dicha divulgación es necesaria para proteger nuestros derechos, la protección de 
                    su seguridad o la seguridad de otros, investigar el fraude, o para responder a una solicitud del gobierno.</p>

                <br>
                <hr>

                <b>3- Acceso de usuario y cambios a su cuenta</b>

                <p>Si cambia su información, o si ya no desea nuestro servicio, usted puede solicitar corregir, actualizar, desactivar o 
                    borrar/eliminar su información, únicamente poniéndose en contacto con nosotros. Podremos rechazar la tramitación de 
                    solicitudes que consideremos irrazonablemente repetitivas, requieran un esfuerzo técnico desproporcionado, comprometan 
                    la privacidad de los demás, sean muy poco prácticas, o para los que el acceso no está obligado por la ley.<br><br>

                    Al optar por desactivar o borrar/eliminar su información o solicitar cualquier otro cambio que pueda afectar negativamente 
                    a la entrega de nuestros productos y servicios, es posible que ya no reciba información de nuestra parte o seguir disfrutando 
                    del servicio que previamente se le ha estado proporcionando o, simplemente, puede que no seamos capaces de ofrecerle nuestros 
                    servicios.</p>

                <br>
                <hr>

                <b>4- Niños</b> 

                <p>Todas las personas interesadas en contar con nuestros servicios deben ser mayores de edad, en caso en que el interesado sea 
                    menor de edad debe contar con la autorización del acudiente, un adulto responsable y/o representante legal del mismo, adicional 
                    a esto el registro debe hacerse de forma presencial en la empresa con ayuda de un coordinador de la agencia de casting. <br><br>

                    Si nos damos cuenta de que hemos recogido información de un niño sin el consentimiento de un padre o tutor, haremos todos los 
                    esfuerzos razonables para eliminar la información de nuestros archivos.</p>

                <br>
                <hr>

                <b>5- Seguridad, retención y supervisión de información</b> 

                <p>Utilizamos los esfuerzos comercialmente razonables para implementar las medidas apropiadas para proteger su información contra 
                    la divulgación no autorizada o accidental, el acceso, el uso indebido, la pérdida o alteración. Aunque nos esforzamos por proteger 
                    su información, no podemos asegurar o garantizar la seguridad de dicha información. Podemos controlar su uso de nuestros servicios 
                    para diversos fines, tales como la protección de nuestros derechos, la protección de los derechos de los demás, o investigar cualquier 
                    amenaza potencial a nuestra red.<br><br>

                    <b>• Retención de Información y disposición (eliminación):</b> 

                    Podemos conservar su información, siempre y cuando sea necesario para que cumplamos con los fines descritos en esta política. Además, 
                    conservar la información durante un período adicional que se permita o requiera para cumplir con nuestras obligaciones legales, resolver 
                    disputas y hacer cumplir los acuerdos. Vamos a borrar su información de una manera irreproducible cuando la información ya no sea necesaria 
                    o requerida para ello. Incluso si borramos su información, la información puede permanecer en los medios de copia de seguridad o de archivo, 
                    así como otros sistemas de información.</p>

                <br>
                <hr>

                <b>6- Otra información</b> 

                <p>Cambios en la Política: nos reservamos el derecho de realizar cambios en esta política de privacidad en cualquier momento. Si hacemos un cambio 
                    importante en esta política de privacidad, le notificaremos publicando un aviso del cambio en nuestras propiedades, según sea pertinente o requerido 
                    por la ley. Nosotros publicaremos los cambios en la política de privacidad y, si es necesario, le dará opciones adicionales con respecto a los cambios. 
                    Por favor revise esta política de privacidad de vez en cuando para asegurarse de que usted está enterado de cualquier cambio. El uso continuado de nuestras 
                    propiedades después de cualquier cambio o revisión de esta política de privacidad significará su aceptación y acuerdo con estos cambios y revisiones.</p>

            </div>
        </div>
    </div>

    <footer>
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p id="texto">AITV Es una empresa del grupo Main Event Producciones Ltda.</p>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p align="center">
                    <a href="" target="_blank"><img {% if is_mobile() %}
                            src="{{web_image('images/logo_mep_l_outlined_white.png').resize(250,'')}}" 
                            {% elseif is_full_view() or is_not_mobile_view() or is_tablet() %}
                                src="{{web_image('images/logo_mep_l_outlined_white.png').resize(150,'')}}"
                                {%endif%}
                                    ></a>
                            <a href="" target="_blank"><img 
                                    {% if is_mobile() %}
                                        src="{{web_image('images/aliveHdw_logoWhite.png').resize(250,'')}}" 
                                    {% elseif is_full_view() or is_not_mobile_view() or is_tablet() %}
                                        src="{{web_image('images/aliveHdw_logoWhite.png').resize(150,'')}}"
                                    {%endif%}
                                    ></a>
                            <a href="" target="_blank"><img 
                                    {% if is_mobile() %}
                                        src="{{web_image('images/mepplay_logo_White.png').resize(250,'')}}" 
                                    {% elseif is_full_view() or is_not_mobile_view() or is_tablet() %}
                                        src="{{web_image('images/mepplay_logo_White.png').resize(150,'')}}"
                                    {%endif%}
                                    ></a>
                        </p>
                    </div>

                </div>
            </footer>
{% endblock %}