{% for entity in entities %}
    {%if (entity.fechainicio)%}
        {% set number1 = entity.fechainicio|date("U") %}
        {% set number2 = "now"|date("U") %}
        {% set aux= ((  number1-number2)) %}
        {%  set aux = aux/(60 * 60 * 24)%}
    {%else%}
        {%  set aux =9 %}
    {% endif%}


    <tr {%if aux|round==0%}class="danger"{%endif%}
                           {%if aux|round>0 and aux|round<=1  %}class="warning"{%endif%}
                           {%if aux|round>1 and aux|round<=8%}class="info"{%endif%}                  >
        <td>{% if entity.image == '' %}
            <center>
            <div class="block">
                <img  class="img-thumbnail" u=image height="auto" width="100%" src="{{web_image('upload/default/defaul_logo.png').resize(80,80)}}" />
                <br>
                <label>{{ entity.estado }}</label>
            </div>
            </center>
        {% else %}
         <center>
            <div class="block">
            <img  class="img-thumbnail" u=image height="auto" width="100%" src="{{web_image('upload/solicitud/' ~ entity.idSolicitud ~'/' ~ entity.image).resize(80,80)}}" />
             <br>
                <label>{{ entity.estado }}</label>
            </div>
            </center>
            {%endif%}
            </div>
        </td>
        <td>{{ entity.nombre }}</td>
        <td>{{ entity.observaciones }}</td>
        <td>
            {%if (entity.fechainicio)%}
                {{ entity.fechainicio|date('Y-m-d H:i:s') }}
            {%else%}
                No definida
            {%endif%}
        </td>
        <td>
            {%if (entity.fechainicio)%}
                {{ entity.Fechafin|date('Y-m-d H:i:s') }}
            {%else%}
                No definida
            {%endif%}
        </td>

        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if entity.fechaupdate %}{{ entity.fechaupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
    </tr>
    {% endfor %}
        {% include "AdminAdminBundle:Registro:paginacion.html.twig" %}

        <script>
            (function ($) {

                /* tooltip */
                $('a[data-toggle="tooltip"]').tooltip();

            })(jQuery);
        </script>





