{% extends 'AdminAdminBundle:Dashboard:base.html.twig' %}
{% block Contenido %}
    <div class="row">
        <div class="col-lg-12">
            <h3><span class="fa fa-eye"></span>Informe </h3>
            <hr>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <form  id="jsForm" role="form" method="GET" action="" >
            <input id="pagenumber" type="hidden" name="searchParam[page]" value="1">
            <div class="row">
                <div class="col-md-3 hidden-print">
                    <div class="col-md-9">
                        <div class="input-group">
                            <select id="js-perpage" name="searchParam[perPage]" class="form-control">
                                <option value="10" selected="">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100" >100</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <select id="js-perpage" name="searchParam[Estado]" class="form-control">
                            <option value="" selected="">Todas</option>
                            <option value="Pendiente" >Pendientes</option>
                            <option value="Tramite">Tramite</option>
                            <option value="Aprobado">Aprobado</option>
                        </select>
                        <div class="input-group-btn hidden-print">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div><!-- /btn-group -->
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <table  class="table table-striped table-bordered table-hover" id="dataTables-example" aria-describedby="dataTables-example_info" role="grid">
                        <thead>
                            <tr role="row">
                                <th>
                                    Logotipo
                                </th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Fecha</th>
                                <th>Fecha Actualizacion</th>
                            </tr>
                        </thead>
                        <tbody id='dataContainer'>
                        </tbody>
                    </table>
                </div >
            </div >
        </form>
        <hr>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Solicitudes en  Pendiente:</th>
                        <td>{{Pendientes}}</td>
                    </tr>
                    <tr>
                        <th>Solicitudes en tramite:</th>
                        <td>{{Tramite}}</td>
                    </tr>
                    <tr>
                        <th>Solicitudes en aprobado:</th>
                        <td>{{Aprobado}}</td>
                    </tr>
                    <tr>
                        <th>Total Solicitudes:</th>
                        <td>{{Total}}</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="hidden-print row">
            <div class="col-sm-12">
                <div class="col-sm-4"></div>        
                <div class="col-sm-4">
                    <a class="btn btn-info btn-block" id="btnPrint"><span class="glyphicon glyphicon-print"></span> Generar informe </a>
                <br>
                <br>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="col-md-2">
        </div>

    </div>
{% endblock %}
{% block javasctipt %}
    <!-- jQuery -->
    <script src="{{asset('bundles/adminadmin/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('bundles/adminadmin/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{asset('bundles/adminadmin/bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{asset('bundles/adminadmin/dist/js/sb-admin-2.js')}}"></script>
    <script>
        (function ($) {
            function init() {
                pageInput.val('1');
                jsFormUrl = '{{ path('informe_ajax',{'page':current_page}) }}';
            }
            function ajaxPost(action, callback) {
                $('#panel').addClass('panel-warning').removeClass('panel-primary');
                searchModal.modal('hide');
                $.ajax({
                    type: "GET",
                    data: form.serialize(),
                    url: jsFormUrl,
                    success: function (data) {
                        $('#panel').addClass('panel-primary').removeClass('panel-warning');
                        if (callback)
                            callback(data);
                        init();
                        if (!action)
                            dataContainer.empty().hide().html(data).fadeIn();
                        else
                            ajaxPost();
                    },
                    error: function () {
                        alert('Hubo un error');
                        $('#panel').addClass('panel-primary').removeClass('panel-warning');

                    }
                });
                return false;
            }

            /* ajax dashboard*/
            var form = $('#jsForm'),
                    dataContainer = form.find('#dataContainer'),
                    deleteBtn = form.find('#js-delete'),
                    pageInput = form.find('#pagenumber'),
                    searchModal = form.find('#searchModal'),
                    jsFormUrl = '';
            /* pagination */
            form.on('click', '.js-page', function () {
                pageInput.val($(this).data('page'));
                ajaxPost();
            });
            form.on('submit', function () {
                ajaxPost();
                return false;
            });
            /* submit the form after loading the page*/
            init();
            ajaxPost();
            /* print button */
            $('#btnPrint').on('click', function () {
                window.print();
            });
        })(jQuery);
    </script>
{%endblock%}
